@font-face {
  font-family: "Pompei";
  src: url("/fonts/Pompei.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ropa Sans";
  src: url("/fonts/Ropa_Sans/RopaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB_Garamond";
  src: url("/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aquiline Two";
  src: url("/fonts/aquiline_two/AquilineTwo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}